@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Paleta Roxa (Modo Claro) */
    --background: 265 80% 98%;
    --foreground: 265 30% 10%;
    --card: 265 80% 98%;
    --card-foreground: 265 30% 10%;
    --popover: 265 80% 98%;
    --popover-foreground: 265 30% 10%;
    --primary: 265 55% 50%;
    --primary-foreground: 265 30% 98%;
    --secondary: 265 30% 94%;
    --secondary-foreground: 265 30% 10%;
    --muted: 265 30% 94%;
    --muted-foreground: 265 25% 45%;
    --accent: 265 30% 90%;
    --accent-foreground: 265 30% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 265 30% 88%;
    --input: 265 30% 88%;
    --ring: 265 55% 50%;
    --chart-1: 265 70% 50%;
    --chart-2: 275 60% 45%;
    --chart-3: 285 80% 55%;
    --chart-4: 255 65% 60%;
    --chart-5: 245 75% 55%;
    --radius: 0.5rem
  }
  .dark {
    /* Paleta Roxa (Modo Escuro) */
    --background: 265 60% 8%;
    --foreground: 265 30% 98%;
    --card: 265 60% 8%;
    --card-foreground: 265 30% 98%;
    --popover: 265 60% 8%;
    --popover-foreground: 265 30% 98%;
    --primary: 265 30% 98%;
    --primary-foreground: 265 50% 15%;
    --secondary: 265 40% 18%;
    --secondary-foreground: 265 30% 98%;
    --muted: 265 40% 18%;
    --muted-foreground: 265 20% 65%;
    --accent: 265 40% 25%;
    --accent-foreground: 265 30% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 265 40% 25%;
    --input: 265 40% 25%;
    --ring: 265 50% 70%;
    --chart-1: 265 70% 50%;
    --chart-2: 275 60% 45%;
    --chart-3: 285 80% 55%;
    --chart-4: 255 65% 60%;
    --chart-5: 245 75% 55%
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}